<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
    <title>Hello </title>
    {% endblock %}
</head>

<body>
    {% block content %}

    <ul>
        {% for i in data %}
        <li>
            <a href="/update_user/{{i.ID_USER}}"><button>{{ i }}</button></a>
            <a href="/delete_user/{{i.ID_USER}}"><button>X</button></a>
        </li>
        {% endfor %}

    </ul>

    <a href="/add_user_template"> lien vers add</a>

    {% endblock %}

</body>

</html>